@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <h1 class="text-center" style="padding: 40px;">StrongMind Pizza Exercise</h1>
    <div class="row">
        <div class="col-6 text-center">
            <MudButton Variant="Variant.Outlined" OnClick="NavigateToToppings">Manage Toppings</MudButton>
        </div>
        <div class="col-6 text-center">
            <MudButton Variant="Variant.Outlined" OnClick="NavigateToPizzas">Manage Pizza</MudButton>
        </div>
    </div>
</div>